@model List<CRUDADOdotNet.Models.Employee>
@{
    ViewData["Title"] = "Employee Details";
    var errorMessage = TempData["errorMessage"]?.ToString();
    var successMessage = TempData["successMessage"]?.ToString();
}
<h3>@ViewData["Title"]?.ToString()</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="alert alert-success">
        <b>Success: </b>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if(!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <b>Error: </b>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form>
    <button asp-action="Create" asp-controller="Employees" class="btn btn-primary mb-3">Create Employee</button>
</form>
<table class="table table-responsive table-bordered table-hover text-center">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Date Of Birth</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if(Model!=null && Model.Any())
        {
            
        
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FullName</td>
                    <td>@item.DateofBirth.ToString("dd/MM/yyyy")</td>
                    <td>@item.Email</td>
                    <td>@item.Salary</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a asp-controller="Employees" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">
                                Edit
                            </a>
                            <a asp-controller="Employees" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    <div>
                        No Employees available at this moment!
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>